@import "variaveis.less";
@breakpointMobile: ~ "(max-width: 767px)";
@breakpointTablet: ~ "(max-width: 768px) and (max-widht: 1023px)";

body{
    background-color: @corDeFundo;
    color: @corDosTextos;
}
.container{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    
    @media @breakpointMobile{
        max-width: 70%;
    }
    @media @breakpointTablet{
        max-width: 80%;
    }
}